defmodule <%= module_prefix %>.Repo.Migrations.CreateCollectionAssetImports do
  use Ecto.Migration

  def change do
    create table(:collection_asset_imports<%= if not is_nil(table_and_index_prefix), do: ", prefix: \"#{table_and_index_prefix}\"" %>) do
      add :venue, :text, null: false
      add :slug, :text, null: false
      add :token_ids, {:array, :integer}, null: false
      add :status, :string, null: false

      timestamps()
    end
  end
end
