defmodule <%= module_prefix %>.Repo.Migrations.CreateCollectionImports do
  use Ecto.Migration

  def change do
    create table(:collection_imports, primary_key: false) do
      add :id, :uuid, primary_key: true, null: false
      add :venue, :text, null: false
      add :slug, :text, null: false
      add :max_retries, :integer, null: false
      add :status, :string, null: false

      timestamps(type: :utc_datetime_usec)
    end
  end
end
