defmodule <%= module_prefix %>.Repo.Migrations.CreateCollectionTraits do
  use Ecto.Migration

  def change do
    create table(:collection_traits, primary_key: false) do
      add :id, :uuid, primary_key: true, null: false
      add :collection_id, references(:collections, type: :uuid), null: false
      add :trait_type, :text, null: false
      add :value, :text, null: false
      add :display_type, :text, null: false

      timestamps()
    end
  end
end
