defmodule <%= module_prefix %>.Repo.Migrations.CreateCollectionAssetImports do
  use Ecto.Migration

  def change do
    create table(:collection_asset_imports) do
      add :venue, :text, null: false
      add :slug, :text, null: false
      add :token_ids, {:array, :integer}, null: true
      add :status, :string, null: false

      timestamps()
    end
  end
end
